<div class="loading">
    <img src="/Images/loading-gif.gif" title="loading" style="zoom:50%; filter:brightness(80%) hue-rotate(345deg) saturate(1) contrast(3.5) saturate(12);" />
    <p>Loading, please wait...</p>
</div>

@code {

    private bool isLoading = false;
}
