@page "/policyDetails"
@using Polly_C.Horizon.Models;
@using Polly_C.Horizon.Models.DTOs.ClientServicing.Results;
@using Polly_C.Horizon.UI.Pages
@using Polly_C.Horizon.UI.Components
@inject NavigationManager NavigationManager
@inject WebApiWrapperInterfaces.ClientServicing.IClientServicingWebApiWrapper ClientServicingApiWrapper
@attribute [Authorize]

<div class="border-info">
    <InformationBoard OnStateHasChanged="OnStateHasChanged" />
</div>

@*<LoadingSpinner />*@

<Warnings />

<div class="row col-12">
    <PolicyActionCreateQuote />
</div>

<div class="row col-12">
    <ClientDetails />
</div>

<div class="row col-12">
    <PolicyGrid />
</div>

<div class="row col-12">
    <PolicyDetail />
</div>

@code {
    private void OnStateHasChanged()
    {
        StateHasChanged();
    }
}
